.question
  %h2=@question.title
  %p=@question.body
  - if current_user && user_is_owner? && @question.answers.empty?
    %p= link_to 'Edit', '#', class: 'edit-question-link'
    .question-edit-form
      =form_for @question, remote: true do |f|
        =f.label :title
        =f.text_field :title
        =f.label :body
        =f.text_area :body
        =f.button 'Submit'
    %p= link_to 'Delete Question', question_path, method: :delete