=link_to 'Ask question', new_question_path
-unless @questions.count == 0
  %p='Top Questions'
  %ul
    -@questions.each do |question|
      %li= question.title
-else
  %p There are not questions. Ask something
