%h1 Ask new question
- if @question.errors.any?
  .bg-danger
    %p Your question couldn't be submitted. Please see the errors:
    %ul
      - @question.errors.full_messages.each do |msg|
        %li= msg
= form_for @question do |form|
  .form-group
    =form.label :title
    =form.text_field :title, class: 'form-control'
  .form-group
    =form.label :body
    =form.text_area :body, class: 'form-control'
  = form.fields_for :attachments do |att|
    = render 'attachment_fields', f: att
  %p=link_to_add_association "Add file", form, :attachments, class: 'btn btn-default'
  %br
  =form.button 'Create', class: 'btn btn-primary btn-lg'