%h2=@question.title
%p=@question.body
- if current_user && current_user.id == @question.user_id && @question.answers.count == 0
  %p= link_to 'Delete Question', question_path, method: :delete 
-unless @answers.count == 0
  -@answers.each do |answer|
    %p=answer.body
    - if current_user && current_user.id == answer.user_id
      %p= link_to 'Delete Answer', question_answer_path(@question, answer.id), method: :delete
-else
  %p Know an answer? Please post it

-if @answer.errors.any?
  %p Your answer couldn't be submitted. Please see the errors:
  %ul
    - @answer.errors.full_messages.each do |msg|
      %li= msg
=form_for [@question, @answer] do |form|
  =form.label :body
  =form.text_area :body
  =form.button 'Post Your Answer'
