.jumbotron=render 'question'

.answers=render 'answers'

.answer_new.row
  .answers-error  
    -if @answer.errors.any?
      %p Your answer couldn't be submitted. Please see the errors:
      %ul
        - @answer.errors.full_messages.each do |msg|
          %li= msg
  =form_for [@question, @answer], remote: true, data: { type: :json }, html:{role: 'form'} do |f|
    .form-group
      =f.label :body
      =f.text_area :body, class: 'form-control'  
      =f.fields_for :attachments do |att|
        = render 'attachment_fields', f: att
    %p=link_to_add_association "Add file", f, :attachments, class: 'btn btn-default'
    %br

    =f.button 'Post Your Answer', class: 'btn btn-default'
