.jumbotron=render 'question'

.answers{ data: {question_id: @question.id } }
  =render 'answers'

.answer_new.row
  .answer-errors
  =form_for [@question, @answer], remote: true, html:{role: 'form'} do |f|
    .form-group
      =f.label :body
      =f.text_area :body, class: 'form-control'  
      =f.fields_for :attachments do |att|
        = render 'attachment_fields', f: att
    %p=link_to_add_association "Add file", f, :attachments, class: 'btn btn-default'
    %br

    =f.button 'Post Your Answer', class: 'btn btn-default'

=subscribe_to "/questions/#{@question.id}/answers"
=subscribe_to "/questions/#{@question.id}/comments"