.jumbotron=render 'question'

.answers=render 'answers'

.answer_new.row
  -if @answer.errors.any?
    %p Your answer couldn't be submitted. Please see the errors:
    %ul
      - @answer.errors.full_messages.each do |msg|
        %li= msg
  =form_for [@question, @answer], remote: true, html:{role: 'form'} do |f|
    .form-group
      =f.label :body
      =f.text_area :body, class: 'form-control'
    =f.button 'Post Your Answer', class: 'btn btn-default'
