.votes
  .votes-error
    - if can?(:vote_up, resource) && can?(:vote_down, resource)
      =link_to "Vote up", polymorphic_path([:vote_up, resource]), method: :patch, remote: true, data: {type: :json}
      =link_to "Vote down", polymorphic_path([:vote_down, resource]), method: :patch, remote: true, data: {type: :json}
    - else
      =link_to "Unvote", polymorphic_path([:unvote, resource]), method: :patch, remote: true, data: {type: :json}
  .score
    %p= resource.score