.row
  - if answer.persisted?
    .answer.col-md-6{ id: "answer#{answer.id}" }
      %p=answer.body
      %ul
        - answer.attachments.each do |att|
          %li= link_to att.file.filename, att.file.url
      =render 'shared/votes', resource: answer

      - if current_user && current_user.owner?(answer)
        %p=link_to 'Edit', '#', class: 'edit-answer-link', data: { answer_id: answer.id }
        .answer-error-edit
          -if answer.errors.any?
            %p Your answer couldn't be updated. Please see the errors:
            %ul
              - answer.errors.full_messages.each do |msg|
                %li= msg

        .answer-edit-form
          =form_for answer, remote: true, data: { type: :json } do |f|
            =f.label :body
            =f.text_area  :body
            .attachments-form
              =f.fields_for :attachments do |att|
                = render 'attachment_fields', f: att
            %p=link_to_add_association "Add file", f, :attachments, class: 'btn btn-default'
            %br
            =f.submit 'Submit'

        %p=link_to 'Delete Answer', 
          answer_path(answer), 
          method: :delete, remote: true

      - if current_user && current_user.owner?(@question)
        %p.accept-link=link_to 'Accept answer', 
          accept_answer_path(answer),
          method: :patch,
          remote: true
      - if answer.accepted?
        %p.accepted 'accepted'
      %hr
